{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .create-form {
	    width: 100%;
	    max-width: 100%;
	    padding: 15px;
	    margin: auto;
  	}

  	.submit-button{
  		max-width: 200px;
  	}
</style>

<div class="container">
	<div class="row">
		<div class="col-lg-7 offset-lg-1">
			<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}

				<!-- title -->
				<div class="form-group">
					<label for="id_title">Title</label>
					<input class="form-control" type="text" name="title" id="id_title" placeholder="Title" required autofocus>
				</div>

				<!-- member_limit -->
				<div class="form-group">
					<label for="id_member_limit">Member limit</label>
					<input class="form-control" type="number" name="member_limit" id="id_member_limit" placeholder="Member limit" required>
				</div>

				<!-- date_tournament -->
				<div class="form-group">
					<label for="id_date_tournament">Tournament date</label>
					<input class="form-control" type="date" name="date_tournament" id="id_date_tournament" placeholder="Date tournament" required>
				</div>

				<!-- time_tournament -->
				<div class="form-group">
					<label for="id_time_tournament">Tournament time</label>
					<input class="form-control" type="time" name="time_tournament" id="id_time_tournament" placeholder="Time tournament" required>
				</div>

				<!-- date_deadline -->
				<div class="form-group">
					<label for="id_date_deadline">Deadline date</label>
					<input class="form-control" type="date" name="date_deadline" id="id_date_deadline" placeholder="Date deadline" required>
				</div>

				<!-- time_deadline -->
				<div class="form-group">
					<label for="id_time_deadline">Deadline time</label>
					<input class="form-control" type="time" name="time_deadline" id="id_time_deadline" placeholder="Time deadline" required>
				</div>

				<!-- location -->
				<div class="form-group">
					<label for="id_location">Location</label>
					<input class="form-control" type="text" name="location" id="id_location" placeholder="Location" required>
				</div>

				<!-- Body -->
				<div class="form-group">
					<label for="id_body">Content</label>
					<textarea class="form-control" rows="10" type="text" name="body" id="id_body" placeholder="Tournament description" required></textarea>
				</div>

				<!-- Image -->
				<div class="form-group">
					<label for="id_image">Sponsors</label>
					<input  type="file" name="image" id="id_image" accept="image/*" required>
				</div>

				{% for field in form %}
					<p>
						{% for error in field.errors %}
							<p style="color: red">{{ field.name }}{{ error }}</p>
						{% endfor %}
					</p>
				{% endfor %}
				{% if form.non_field_errors %}
					<div style="color: red">
						<p>{{form.non_field_errors}}</p>
					</div>
				{% endif %}

				<!-- Submit btn -->
				<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">POST</button>
			</form>
		</div>
	</div>
</div>

<script>
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	 if(dd<10){
			dd='0'+dd
		}
		if(mm<10){
			mm='0'+mm
		}

	today = yyyy+'-'+mm+'-'+dd;
	document.getElementById("id_date_tournament").setAttribute("min", today);
	document.getElementById("id_date_deadline").setAttribute("min", today);
</script>

{% endblock content %}